{% extends "base.html.twig" %}

{% block content %}
    <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://media-cdn.tripadvisor.com/media/photo-s/0d/92/1a/cb/the-cluricaune-irish.jpg" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <h1 class="">CLO Pubs LTD</h1>
                <p>Welcome to CLO Pubs, we are a family run Business established in 2009.</p>
                <p>We take great pride in giving back to areas across the UK what they treasure most, community pubs.</p>
                <a class="btn btn-primary" href="/contact-us">Contact us!</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

{#        <!-- Call to Action Well -->#}
{#        <div class="card text-white bg-secondary my-5 py-4 text-center">#}
{#            <div class="card-body">#}
{#                <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>#}
{#            </div>#}
{#        </div>#}

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h2 class="card-title">Our Pubs</h2>
                        <p class="card-text">Please take a look & visit one of our many sites cross the UK, where you will be warmly welcomed by one of our fantastic team members!</p>
                    </div>
                    <div class="card-footer">
                        <a href="/our-pubs" class="btn btn-primary btn-sm">Find a pub near you</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h2 class="card-title">Meet The Team</h2>
                        <p class="card-text">Take a look through the team behind the scenes at CLO Pubs and get to know the people who do their best to give back to local communities that surround our sites.</p>
                    </div>
                    <div class="card-footer">
                        <a href="/our-team" class="btn btn-primary btn-sm">Meet the team</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h2 class="card-title">Jobs</h2>
                        <p class="card-text">Is the pub life for you? Take a look at our available vacancies and apply within. If you have any further questions please feel free to contact us.</p>
                    </div>
                    <div class="card-footer shadow">
                        <a href="/jobs" class="btn btn-primary btn-sm">Find a job near you</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-f3120b66-18fb-472d-a889-5fd8159f846d mb-5" id="instagram"></div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
