{% extends "base.html.twig" %}

{% block content %}
    <div class="container py-5">
        <div class="team-header text-center">
            <h2 class="h1-responsive font-weight-bold text-center my-4">Our Pubs</h2>
            <p class="mb-5">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not only five centuries</p>
        </div>
        <div class="jobs">
            
        </div>
    </div>

{% endblock %}
