{% extends "Admin/admin_base.html.twig" %}
{% block content %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Overview Statistics</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card blue-background text-white mb-4">
                                <div class="card-body"><b>Pubs</b></div>
                                <div class="card-footer justify-content-between">
                                    <p class="text-white">Pubs: <b>23</b></p>
                                    <p class="text-white">Active Pubs: <b>20</b></p>
                                    <a class="small text-white stretched-link" href="#">Manage</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card blue-background text-white mb-4">
                                <div class="card-body"><b>Team Members</b></div>
                                <div class="card-footer justify-content-between">
                                    <p class="text-white">Team Members: <b>9</b></p>
                                    <p class="text-white">Active Team Members: <b>9</b></p>
                                    <a class="small text-white stretched-link" href="#">Manage</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card blue-background text-white mb-4">
                                <div class="card-body"><b>Jobs</b></div>
                                <div class="card-footer justify-content-between">
                                    <p class="text-white">Jobs: <b>2</b></p>
                                    <p class="text-white">Active Jobs: <b>1</b></p>
                                    <a class="small text-white stretched-link" href="#">Manage</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card blue-background text-white mb-4">
                                <div class="card-body"><b>Applicants</b></div>
                                <div class="card-footer justify-content-between">
                                    <p class="text-white">Applicants: <b>2</b></p>
                                    <p class="text-white">Active Applicants: <b>1</b></p>
                                    <a class="small text-white stretched-link" href="#">Manage</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-area mr-1"></i>
                                    Notices
                                </div>
                                <div class="card-body">
                                    <canvas id="myAreaChart" width="100%" height="40"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar mr-1"></i>
                                    Reminders
                                </div>
                                <div class="card-body">
                                    <canvas id="myBarChart" width="100%" height="40"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/datatables-demo.js"></script>
    </body>

{% endblock %}
