<footer class="pt-5 pb-5 footer" id="footer">
    <div class="container">
        <p class="m-0 text-center small mb-3">Copyright &copy; CLO Pubs LTD 2020</p>
        <div class="row text-center">
            <div class="col-4">
                <a href="https://www.facebook.com/localcommunitypubs/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            </div>
            <div class="col-4">
                <a href="/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            </div>
            <div class="col-4">
                <a href="https://www.instagram.com/clopubsltd/"><i id="social-gp" class="fa fa-instagram fa-3x social"></i></a>
            </div>
        </div>
    </div>
    <p class="small text-center mt-4">Always drink responsibly, for drinking advice please visit  <a target="_blank" href="https://www.drinkaware.co.uk/">Drink Aware</a></p>
</footer>
